body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    background-image: url(bg.jpg);
    background-repeat: round;
}

.login-container {
    background: #01041e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 402px;
    text-align: center;
}

.logo-container img {
    width: 100px; /* Adjust the size of the logo as needed */
    margin-bottom: 20px;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
    position: relative;

    left: -38%;
    bottom: -35px;
}

.input-container input {
    width: 66%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    left: 55px;
}

button {
    width: 17%;
    padding: 4px;
    background: #a1b8d1;
    color: #000;
    border: none;
    border-radius: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    left: 36%;
    height: 25px;
    font-weight: 700;
}

button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.settings {
    margin-top: 20px;
}

.settings a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.settings a:hover {
    text-decoration: underline;
}
.para1{
    position: relative;
    top: 54px;
    color: white;
    font-family: times new roman;
    font-size: 13px;
    left: -21px;
}
.set{
    position: relative;
    left: 43%;
    height: 20px;
    font-size: 12px;
    top: 22px;
}